#app{
  width: 353px;
  height: 402px;
  margin: 50px auto; 
  background-color: black;
  border: 2px solid grey;
}

/* ###################
   #   Buttons.jsx   #
   ################### */
#buttons{
  padding: 0px 2px;
}

button{
  background-color:rgb(78, 70,70);
  width: 86px;
  height: 68px;
  border: 1px solid black;
  color: aliceblue;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2em;
}

#clear{
  width: 172px;
  height: 68px;
  background-color: rgb(110, 31, 31);
}

#zero{
  width: 172px;
}

#equals{
  height: 136px;
  position: absolute;
  background-color: rgb(49, 54, 102);
}

#multiply, #add, #subtract, #divide{
  background-color: rgb(141, 126, 126);
}

/* ###################
   #   Results.jsx   #
   ################### */
#expression{
  color: white;
  text-align: right;
  padding-right: 5px;
  height: 23px;
  font-size: 13px;
}

#display{
  width: 98%;
  height: 33px;
  /* color: "white" */
}

#display h1{
  text-align: right;
  color: aliceblue;
  font-size: 1.5em;

}